    <!--            Modal que é aberto ao clicar novo cadastro de NR-->
    <div class="window" id="window_nr_reg" align="left">
        <!--a href="#" class="close">X Close</a-->
        <h4 id="form_title"><b>Cadastro das Normas</b></h4>
        <form id="form-inline" action="" method="post">
            <table class="table" style="background-color: transparent; font-weight: normal">
                <tr>
                    <td width="50%">
                        <label for="frm_NR_fullname" class="form_style">Nome completo da norma:</label>
                        <input type="text" name="frm_NR_fullname" id="frm_NR_fullname" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label for="frm_NR_name" class="form_style">Nome abreviado da norma (NRx):</label>
                        <input type="text" name="frm_NR_name" id="frm_NR_name" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="frm_NR_keysearch">Chaves de buscas:</label>
                        <input type="text" name="frm_NR_keysearch" id="frm_NR_keysearch" style="width: 100%;"/>
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td width="40%">
                        <input class="btn btn-success" type="button" value="Salvar e fechar" id="save_close_NR"/>
                        <input class="btn btn-success" type="button" value="Salvar e continuar" id="save_cont_NR"/>
                        <input class="btn btn-primary" type="button" value="Cancelar" id="cancel_NR"/><br>
                        <label id="lbl_success" style="display: none">Registro salvo com sucesso!!</label>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!--            Modal que é aberto ao clicar apagar-->
    <div class="window" id="delete_nr_window" align="left">
        <!--a href="#" class="close">X Close</a-->
        <h4 id="delete_title">Apagar norma</h4>
        <hr>
        <form id="delete_register" action="" method="post">
            <div class="form-group" align="right">
                <label id="delete_text">Confirma apagar norma:
                    <a id="delete_reg_name">###########</a>
                </label>
                <br>
            </div>
            <hr>
            <input class="btn btn-success" type="button" value="Confirmar" id="confirm_del"/>
            <input class="btn btn-primary" type="button" value="Cancelar" id="cancel_del"/><br>
            <label id="lbl_del_success" style="display: none">Registro APAGADO com sucesso!!</label>
        </form>
    </div>

    <!-- ###############################################################################################################
    <!--            Modal que é aberto ao clicar novo cadastro de parágrafo da NR-->
    <div class="window" id="window_reg_section" align="left">
        <a href="#" class="close">X Close</a>
        <h4 id="form_ref"><b>Cadastro das Normas</b></h4>
        <form id="form-ref-inline" action="" method="post">
            <table class="table" style="background-color: transparent; font-weight: normal">
                <tr>
                    <td width="50%">
                        <label for="frm_name" class="form_style">Nome completo da norma:</label>
                        <input type="text" name="frm_name" id="frm_name" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label for="frm_descr" class="form_style">Nome abreviado da norma (NRx):</label>
                        <input type="text" name="frm_descr" id="frm_descr" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <!--td>
                        <label class="form_style">Tipo:</label>
                        <select name="frm_type" id="frm_type" style="width: 100%;">
                            <?php //$tool_types = getToolTypes();
                                  //foreach($tool_types as $item) {
                                  //echo "<option value=" . $item->iderp_tools_type . ">" . $item->erp_tools_type_name . "</option>";
                            //} ?>
                        </select>
                    </td-->
                </tr>
                <tr>
                    <td>
                        <label class="form_style">Código:</label>
                        <input type="text" name="frm_code" id="frm_code" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="CPF_text">Observação:</label>
                        <input type="text" name="frm_obs" id="frm_obs" style="width: 100%;"/>
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td width="40%">
                        <input class="btn btn-success" type="button" value="Salvar" id="save"/>
                        <input class="btn btn-primary" type="button" value="Cancelar" id="cancel"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>






