
hv:hover {
    color: white;
}
.table {
    background: #8c8d8d;
    color: #313335;
}

label {
    font: bold 16px arial, serif;
    padding: 15px;
    color: black;
}

input {
    border: 2px solid white;
}

.td_total {
    color: #520800;
    font: bold large arial, serif;
}

[tooltip]:before {
    position : absolute;
    content : attr(tooltip);
    opacity : 0;
}

[tooltip]:hover:before {
    opacity : 1;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

h2 {
    color: #4b4cff;
    font: bold 24px arial, serif;
    padding: 20px;
}


tag.rd {
    color: red;
    font: bold 18px arial, serif;
    padding: 4px;
    text-shadow: 1px 1px 2px black, 0 0 15px red, 0 0 5px darkred;
}

tag.gn {
    color: green;
    font: bold 18px arial, serif;
    padding: 4px;
    text-shadow: 1px 1px 2px black, 0 0 15px green, 0 0 5px darkgreen;
}

li {
    padding: 5px;
}

ul.nav a:hover {
    color: #ff5454 !important;
    background-color: blue;
}

.list-item {
    background: #000;
    color: #575757;
    text-align: center;
    height: 5em;
    width: 15em;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    font-weight: bold;
    font-size: large;
    border-radius: 5%;
}
.list-item:hover {
    background: #ff6e42;
    color: #ff8991;
    -webkit-transform: translate(0.2em, -0.2em);
    transform: translate(0.2em, -0.2em);
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    text-decoration: none;
}
.list-item:hover:before, .list-item:hover:after {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: .5em;
}

.window{
    display:none;
    width:700px;
    height: auto;
    position:fixed;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
    alignment: left;
}
#mask{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
.close{display:block; text-align:right; font-size: 12px;}

.deletewindow{
    display:none;
    width:500px;
    height: auto;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}


label.form_style {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    width: auto;
}

input {
    border: solid 1px #A9A9A9;
}

.shake {
    border-color: #9d190b;
    background-color: rgba(255, 236, 14, 0.2);
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

iframe[seamless] {
    border: none;
}

h4 {
    color: black;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

time.icon
{
    font-size: 1em; /* change icon size */
    display: block;
    width: 7em;
    height: 7em;
    background-color: #fff;
    margin: 2em auto;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
    z-index: 2;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span
{
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
    0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
    20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
    60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
    80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
    100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
    0%   { transform: rotate(0deg)  skewY(0deg); }
    20%  { transform: rotate(12deg) skewY(4deg); }
    60%  { transform: rotate(-9deg) skewY(-3deg); }
    80%  { transform: rotate(6deg)  skewY(-2deg); }
    100% { transform: rotate(0deg)  skewY(0deg); }
}


.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
    background-color:#65C6BB;}

.carreaux_presentation_light
{
    display:table-cell;
    width:250px; height:250px;
    background-size:cover;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.carreaux_presentation_light .shadow_swhow_mini
{
    background-color:rgba(19,30,33,0.4);
    position: absolute;
    z-index: 1000;
    top:0;left:0;right:0;bottom:0;

}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
    background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light .deroul_titre
{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top:5%;left:-80%;
    color:#ffffff;
    font-weight: 300;
    font-size: 13px; width: 50%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
    background-color: #0808ff; left:10px;

}
.carreaux_presentation_light .deroul_soustitre
{
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top:55%;right:-85%;
    margin-top: 25px;
    color:#ffffff;
    font-weight: 300;
    font-size: 11px; width: 50%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
    background-color:#417c74;right:0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.btn-0 {
    background-color: #8bdd74;
    border: double;
    color: #676dff;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.btn-0:hover {
    background-color: #3e8e41;
    color: white;
}

.vl {
    border-left: 6px solid green;
    height: 90%;
    padding-left: 20px;
}

.text {
    position: absolute;


    text-shadow:     0 1px 0 hsl(174,5%,80%),
    0 2px 0 hsl(174,5%,75%),
    0 3px 0 hsl(174,5%,70%),
    0 4px 0 hsl(174,5%,66%),
    0 5px 0 hsl(174,5%,64%),
    0 6px 0 hsl(174,5%,62%),
    0 7px 0 hsl(174,5%,61%),
    0 8px 0 hsl(174,5%,60%),

    0 0 5px rgba(0,0,0,.05),
    0 1px 3px rgba(0,0,0,.2),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.2),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.3);
}

.logo {
    font-family: 'Verdana',helvetica,sans-serif;
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 100px;
    /*transition*/
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    text-shadow: 0 0 3px #1b1e21;
}

.logo:hover {
    color: #fff;
    text-shadow: 0 0 10px #666,
    0 0 10px #666,
    0 0 10px #666,
    0 0 10px #666,
    0 0 10px #666,
    0 0 5px #000,
    0 0 5px #000,
    0 0 5px #000,
    0 0 5px #000,
    0 0 5px #000;
}






label{
    display: block;
}
.window{
    display:none;
    width:700px;
    height: auto;
    position:fixed;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
    alignment: left;
}
#mask{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
.close{display:block; text-align:right; font-size: 12px;}

.deletewindow{
    display:none;
    width:500px;
    height: auto;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

table {
    width: 100%;
    alignment: left;
    table-layout: fixed;
    overflow-wrap: break-word;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: #ffff99;
}

label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.roundcolor {
    background-color: #0808ff;
    border: none;
    color: #c0cfd5;
    padding: 2px 12px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

.roundcolor:hover {opacity: 1}

input {
    border: solid 1px #A9A9A9;
}

.shake {
    border-color: #9d190b;
    background-color: rgba(255, 236, 14, 0.2);
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

iframe[seamless] {
    border: none;
}

a:hover {
    color: white;
}

.overlay {
    opacity:0;
    position:fixed;
    top:-999em;
    left:-999em;
    width:100%;
    height:100%;
    display:table;
    background:rgba(255,255,255,1);
    -webkit-animation: splash 2s forwards;
    animation: splash 2s forwards;
}

.overlay2 {
    opacity:0;
    position:absolute;
    top:0em;
    left:0em;
    width:100%;
    height:100%;
    display:table;
    background:rgba(255,255,255,1);
    -webkit-animation: splash 2s forwards;
    animation: splash 2s forwards;
}

.overlay-inner {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.message {
    border:5px solid white;
    border-radius:10px;
    background:#fff;
    display:inline-block;
    vertical-align:middle;
    width: 100%;
    height: 100%;
    text-align:center;
    padding:10px;
}
@-webkit-keyframes splash {
    00% {opacity:1;top:0;left:0}
    60% {opacity:1;top:0;left:0}
    99% {top:0;left:0}
    100% {opacity:0;top:-999em;left:-999em}
}
@-moz-keyframes splash {
    00% {opacity:1;top:0;left:0}
    60% {opacity:1;top:0;left:0}
    99% {top:0;left:0}
    100% {opacity:0;top:-999em;left:-999em}
}
@-ms-keyframes splash {
    00% {opacity:1;top:0;left:0}
    60% {opacity:1;top:0;left:0}
    99% {top:0;left:0}
    100% {opacity:0;top:-999em;left:-999em}
}
@keyframes splash {
    00% {opacity:1;top:0;left:0}
    60% {opacity:1;top:0;left:0}
    99% {top:0;left:0}
    100% {opacity:0;top:-999em;left:-999em}
}

.splash_img {
    max-width: 50%;
    max-height: 50%;
}

tr {
    background-color: transparent !important;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    top:20%;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

