@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
    animation: sliding-background 40s linear infinite;
    background: url("../images/medicina_digital.png") no-repeat left / 120%;
    text-align: center;
}
.title {
    padding-top: 20px;
    background: #acffe5;
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 4vw;
    letter-spacing: 1vw;
    margin: 0;
    mix-blend-mode: darken;
    text-transform: uppercase;
    text-shadow: 0 0 0, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
}
.title:before {
    color: #7e7e7e;
    content: attr(data-text);
    margin-left: -0.5%;
    margin-top: -0.5%;
    position: absolute;
}
@keyframes sliding-background {
    0%, 100% {
        background-position: 0 40%;
    }
    50% {
        background-position: 100% 40%;
    }
}
