body {
    background: rgba(20, 5, 5, 1);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    perspective: 800px;
}
div {
    transform-style: preserve-3d;
}
#ui .text {
    position: absolute;
    font-size: 8rem;
    color: #fff;
    line-height: 8rem;
    opacity: 0;
    font-family: 'Anton', sans-serif;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}
#ui .text:nth-child(1) {
    color: rgba(253, 50, 3, 1);
    clip-path: polygon(0% 0%, 0% 50%, 10% 50%);
    transform-origin: 11% 17%;
    animation: fly1 5000ms 0ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly1 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(317deg) rotateY(-51deg) rotateZ(462deg) translateZ(-1162px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(317deg) rotateY(-51deg) rotateZ(462deg) translateZ(-1162px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(2) {
    color: rgba(251, 49, 6, 1);
    clip-path: polygon(0% 0%, 10% 0%, 10% 50%);
    transform-origin: -22% 13%;
    animation: fly2 5000ms 40ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly2 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-262deg) rotateY(-352deg) rotateZ(327deg) translateZ(-833px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-262deg) rotateY(-352deg) rotateZ(327deg) translateZ(-833px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(3) {
    color: rgba(249, 49, 9, 1);
    clip-path: polygon(10% 0%, 10% 50%, 20% 50%);
    transform-origin: 3% 17%;
    animation: fly3 5000ms 80ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly3 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-16deg) rotateY(382deg) rotateZ(384deg) translateZ(-175px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-16deg) rotateY(382deg) rotateZ(384deg) translateZ(-175px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(4) {
    color: rgba(247, 48, 12, 1);
    clip-path: polygon(10% 0%, 20% 0%, 20% 50%);
    transform-origin: -26% 4%;
    animation: fly4 5000ms 120ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly4 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(2deg) rotateY(430deg) rotateZ(-113deg) translateZ(276px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(2deg) rotateY(430deg) rotateZ(-113deg) translateZ(276px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(5) {
    color: rgba(245, 48, 15, 1);
    clip-path: polygon(20% 0%, 20% 50%, 30% 50%);
    transform-origin: -27% 41%;
    animation: fly5 5000ms 160ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly5 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(30deg) rotateY(130deg) rotateZ(-403deg) translateZ(-1016px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(30deg) rotateY(130deg) rotateZ(-403deg) translateZ(-1016px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(6) {
    color: rgba(243, 47, 18, 1);
    clip-path: polygon(20% 0%, 30% 0%, 30% 50%);
    transform-origin: -1% -17%;
    animation: fly6 5000ms 200ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly6 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(129deg) rotateY(-450deg) rotateZ(-266deg) translateZ(-667px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(129deg) rotateY(-450deg) rotateZ(-266deg) translateZ(-667px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(7) {
    color: rgba(241, 47, 21, 1);
    clip-path: polygon(30% 0%, 30% 50%, 40% 50%);
    transform-origin: 62% -26%;
    animation: fly7 5000ms 240ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly7 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-18deg) rotateY(488deg) rotateZ(68deg) translateZ(-480px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-18deg) rotateY(488deg) rotateZ(68deg) translateZ(-480px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(8) {
    color: rgba(239, 46, 24, 1);
    clip-path: polygon(30% 0%, 40% 0%, 40% 50%);
    transform-origin: 30% 4%;
    animation: fly8 5000ms 280ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly8 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-384deg) rotateY(-317deg) rotateZ(67deg) translateZ(-1098px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-384deg) rotateY(-317deg) rotateZ(67deg) translateZ(-1098px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(9) {
    color: rgba(237, 46, 27, 1);
    clip-path: polygon(40% 0%, 40% 50%, 50% 50%);
    transform-origin: 66% -38%;
    animation: fly9 5000ms 320ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly9 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(139deg) rotateY(344deg) rotateZ(497deg) translateZ(-44px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(139deg) rotateY(344deg) rotateZ(497deg) translateZ(-44px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(10) {
    color: rgba(235, 45, 30, 1);
    clip-path: polygon(40% 0%, 50% 0%, 50% 50%);
    transform-origin: 4% 0%;
    animation: fly10 5000ms 360ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly10 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-178deg) rotateY(-365deg) rotateZ(-121deg) translateZ(-2251px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-178deg) rotateY(-365deg) rotateZ(-121deg) translateZ(-2251px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(11) {
    color: rgba(233, 45, 33, 1);
    clip-path: polygon(50% 0%, 50% 50%, 60% 50%);
    transform-origin: 45% 32%;
    animation: fly11 5000ms 400ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly11 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-251deg) rotateY(437deg) rotateZ(380deg) translateZ(-9px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-251deg) rotateY(437deg) rotateZ(380deg) translateZ(-9px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(12) {
    color: rgba(231, 44, 36, 1);
    clip-path: polygon(50% 0%, 60% 0%, 60% 50%);
    transform-origin: 32% 0%;
    animation: fly12 5000ms 440ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly12 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(190deg) rotateY(-258deg) rotateZ(1deg) translateZ(-2189px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(190deg) rotateY(-258deg) rotateZ(1deg) translateZ(-2189px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(13) {
    color: rgba(229, 44, 39, 1);
    clip-path: polygon(60% 0%, 60% 50%, 70% 50%);
    transform-origin: 106% 26%;
    animation: fly13 5000ms 480ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly13 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(140deg) rotateY(-248deg) rotateZ(-441deg) translateZ(-882px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(140deg) rotateY(-248deg) rotateZ(-441deg) translateZ(-882px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(14) {
    color: rgba(227, 43, 42, 1);
    clip-path: polygon(60% 0%, 70% 0%, 70% 50%);
    transform-origin: 102% 35%;
    animation: fly14 5000ms 520ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly14 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(400deg) rotateY(-86deg) rotateZ(458deg) translateZ(-1489px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(400deg) rotateY(-86deg) rotateZ(458deg) translateZ(-1489px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(15) {
    color: rgba(225, 43, 45, 1);
    clip-path: polygon(70% 0%, 70% 50%, 80% 50%);
    transform-origin: 91% -35%;
    animation: fly15 5000ms 560ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly15 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(120deg) rotateY(448deg) rotateZ(336deg) translateZ(-2147px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(120deg) rotateY(448deg) rotateZ(336deg) translateZ(-2147px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(16) {
    color: rgba(223, 42, 48, 1);
    clip-path: polygon(70% 0%, 80% 0%, 80% 50%);
    transform-origin: 48% -21%;
    animation: fly16 5000ms 600ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly16 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(498deg) rotateY(-212deg) rotateZ(463deg) translateZ(-1728px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(498deg) rotateY(-212deg) rotateZ(463deg) translateZ(-1728px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(17) {
    color: rgba(221, 42, 51, 1);
    clip-path: polygon(80% 0%, 80% 50%, 90% 50%);
    transform-origin: 99% -20%;
    animation: fly17 5000ms 640ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly17 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(301deg) rotateY(400deg) rotateZ(434deg) translateZ(-2313px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(301deg) rotateY(400deg) rotateZ(434deg) translateZ(-2313px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(18) {
    color: rgba(219, 41, 54, 1);
    clip-path: polygon(80% 0%, 90% 0%, 90% 50%);
    transform-origin: 46% -47%;
    animation: fly18 5000ms 680ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly18 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(46deg) rotateY(290deg) rotateZ(-128deg) translateZ(-1535px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(46deg) rotateY(290deg) rotateZ(-128deg) translateZ(-1535px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(19) {
    color: rgba(217, 41, 57, 1);
    clip-path: polygon(90% 0%, 90% 50%, 100% 50%);
    transform-origin: 94% 1%;
    animation: fly19 5000ms 720ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly19 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-205deg) rotateY(-39deg) rotateZ(276deg) translateZ(-685px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-205deg) rotateY(-39deg) rotateZ(276deg) translateZ(-685px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(20) {
    color: rgba(215, 40, 60, 1);
    clip-path: polygon(90% 0%, 100% 0%, 100% 50%);
    transform-origin: 117% -21%;
    animation: fly20 5000ms 760ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly20 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-499deg) rotateY(-16deg) rotateZ(-283deg) translateZ(-1483px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-499deg) rotateY(-16deg) rotateZ(-283deg) translateZ(-1483px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(21) {
    color: rgba(213, 40, 63, 1);
    clip-path: polygon(0% 50%, 0% 100%, 10% 100%);
    transform-origin: 39% 8%;
    animation: fly21 5000ms 800ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly21 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(199deg) rotateY(-273deg) rotateZ(-178deg) translateZ(-732px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(199deg) rotateY(-273deg) rotateZ(-178deg) translateZ(-732px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(22) {
    color: rgba(211, 39, 66, 1);
    clip-path: polygon(0% 50%, 10% 50%, 10% 100%);
    transform-origin: 16% 53%;
    animation: fly22 5000ms 840ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly22 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(353deg) rotateY(457deg) rotateZ(7deg) translateZ(-1422px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(353deg) rotateY(457deg) rotateZ(7deg) translateZ(-1422px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(23) {
    color: rgba(209, 39, 69, 1);
    clip-path: polygon(10% 50%, 10% 100%, 20% 100%);
    transform-origin: 43% 55%;
    animation: fly23 5000ms 880ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly23 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(472deg) rotateY(-119deg) rotateZ(-245deg) translateZ(-1603px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(472deg) rotateY(-119deg) rotateZ(-245deg) translateZ(-1603px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(24) {
    color: rgba(207, 38, 72, 1);
    clip-path: polygon(10% 50%, 20% 50%, 20% 100%);
    transform-origin: 48% 7%;
    animation: fly24 5000ms 920ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly24 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-281deg) rotateY(40deg) rotateZ(-342deg) translateZ(-433px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-281deg) rotateY(40deg) rotateZ(-342deg) translateZ(-433px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(25) {
    color: rgba(205, 38, 75, 1);
    clip-path: polygon(20% 50%, 20% 100%, 30% 100%);
    transform-origin: 37% 34%;
    animation: fly25 5000ms 960ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly25 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(393deg) rotateY(-499deg) rotateZ(64deg) translateZ(339px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(393deg) rotateY(-499deg) rotateZ(64deg) translateZ(339px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(26) {
    color: rgba(203, 37, 78, 1);
    clip-path: polygon(20% 50%, 30% 50%, 30% 100%);
    transform-origin: 18% 65%;
    animation: fly26 5000ms 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly26 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(151deg) rotateY(26deg) rotateZ(454deg) translateZ(-1213px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(151deg) rotateY(26deg) rotateZ(454deg) translateZ(-1213px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(27) {
    color: rgba(201, 37, 81, 1);
    clip-path: polygon(30% 50%, 30% 100%, 40% 100%);
    transform-origin: 5% 73%;
    animation: fly27 5000ms 1040ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly27 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(71deg) rotateY(-136deg) rotateZ(315deg) translateZ(-876px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(71deg) rotateY(-136deg) rotateZ(315deg) translateZ(-876px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(28) {
    color: rgba(199, 36, 84, 1);
    clip-path: polygon(30% 50%, 40% 50%, 40% 100%);
    transform-origin: 24% 12%;
    animation: fly28 5000ms 1080ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly28 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(143deg) rotateY(66deg) rotateZ(492deg) translateZ(-1053px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(143deg) rotateY(66deg) rotateZ(492deg) translateZ(-1053px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(29) {
    color: rgba(197, 36, 87, 1);
    clip-path: polygon(40% 50%, 40% 100%, 50% 100%);
    transform-origin: 43% 26%;
    animation: fly29 5000ms 1120ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly29 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(225deg) rotateY(-52deg) rotateZ(-390deg) translateZ(-2381px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(225deg) rotateY(-52deg) rotateZ(-390deg) translateZ(-2381px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(30) {
    color: rgba(195, 35, 90, 1);
    clip-path: polygon(40% 50%, 50% 50%, 50% 100%);
    transform-origin: 79% 78%;
    animation: fly30 5000ms 1160ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly30 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-76deg) rotateY(-425deg) rotateZ(220deg) translateZ(-334px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-76deg) rotateY(-425deg) rotateZ(220deg) translateZ(-334px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(31) {
    color: rgba(193, 35, 93, 1);
    clip-path: polygon(50% 50%, 50% 100%, 60% 100%);
    transform-origin: 31% 73%;
    animation: fly31 5000ms 1200ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly31 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(227deg) rotateY(-179deg) rotateZ(425deg) translateZ(-778px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(227deg) rotateY(-179deg) rotateZ(425deg) translateZ(-778px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(32) {
    color: rgba(191, 34, 96, 1);
    clip-path: polygon(50% 50%, 60% 50%, 60% 100%);
    transform-origin: 59% 83%;
    animation: fly32 5000ms 1240ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly32 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(107deg) rotateY(-373deg) rotateZ(352deg) translateZ(188px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(107deg) rotateY(-373deg) rotateZ(352deg) translateZ(188px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(33) {
    color: rgba(189, 34, 99, 1);
    clip-path: polygon(60% 50%, 60% 100%, 70% 100%);
    transform-origin: 12% 48%;
    animation: fly33 5000ms 1280ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly33 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-108deg) rotateY(305deg) rotateZ(-313deg) translateZ(-540px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-108deg) rotateY(305deg) rotateZ(-313deg) translateZ(-540px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(34) {
    color: rgba(187, 33, 102, 1);
    clip-path: polygon(60% 50%, 70% 50%, 70% 100%);
    transform-origin: 68% 97%;
    animation: fly34 5000ms 1320ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly34 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(22deg) rotateY(-81deg) rotateZ(-304deg) translateZ(-2220px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(22deg) rotateY(-81deg) rotateZ(-304deg) translateZ(-2220px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(35) {
    color: rgba(185, 33, 105, 1);
    clip-path: polygon(70% 50%, 70% 100%, 80% 100%);
    transform-origin: 101% 29%;
    animation: fly35 5000ms 1360ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly35 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(6deg) rotateY(-63deg) rotateZ(355deg) translateZ(-1660px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(6deg) rotateY(-63deg) rotateZ(355deg) translateZ(-1660px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(36) {
    color: rgba(183, 32, 108, 1);
    clip-path: polygon(70% 50%, 80% 50%, 80% 100%);
    transform-origin: 59% 55%;
    animation: fly36 5000ms 1400ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly36 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(182deg) rotateY(420deg) rotateZ(-148deg) translateZ(-585px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(182deg) rotateY(420deg) rotateZ(-148deg) translateZ(-585px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(37) {
    color: rgba(181, 32, 111, 1);
    clip-path: polygon(80% 50%, 80% 100%, 90% 100%);
    transform-origin: 104% 71%;
    animation: fly37 5000ms 1440ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly37 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-376deg) rotateY(474deg) rotateZ(-341deg) translateZ(-1849px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-376deg) rotateY(474deg) rotateZ(-341deg) translateZ(-1849px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(38) {
    color: rgba(179, 31, 114, 1);
    clip-path: polygon(80% 50%, 90% 50%, 90% 100%);
    transform-origin: 77% 54%;
    animation: fly38 5000ms 1480ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly38 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-194deg) rotateY(-199deg) rotateZ(93deg) translateZ(-1347px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-194deg) rotateY(-199deg) rotateZ(93deg) translateZ(-1347px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(39) {
    color: rgba(177, 31, 117, 1);
    clip-path: polygon(90% 50%, 90% 100%, 100% 100%);
    transform-origin: 90% 91%;
    animation: fly39 5000ms 1520ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly39 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-14deg) rotateY(474deg) rotateZ(-163deg) translateZ(-159px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-14deg) rotateY(474deg) rotateZ(-163deg) translateZ(-159px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(40) {
    color: rgba(175, 30, 120, 1);
    clip-path: polygon(90% 50%, 100% 50%, 100% 100%);
    transform-origin: 75% 75%;
    animation: fly40 5000ms 1560ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly40 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-122deg) rotateY(62deg) rotateZ(382deg) translateZ(-1765px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-122deg) rotateY(62deg) rotateZ(382deg) translateZ(-1765px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(41) {
    color: rgba(173, 30, 123, 1);
    clip-path: polygon(0% 100%, 0% 150%, 10% 150%);
    transform-origin: 37% 84%;
    animation: fly41 5000ms 1600ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly41 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-329deg) rotateY(187deg) rotateZ(114deg) translateZ(-6px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-329deg) rotateY(187deg) rotateZ(114deg) translateZ(-6px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(42) {
    color: rgba(171, 29, 126, 1);
    clip-path: polygon(0% 100%, 10% 100%, 10% 150%);
    transform-origin: 37% 75%;
    animation: fly42 5000ms 1640ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly42 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(500deg) rotateY(-345deg) rotateZ(215deg) translateZ(359px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(500deg) rotateY(-345deg) rotateZ(215deg) translateZ(359px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(43) {
    color: rgba(169, 29, 129, 1);
    clip-path: polygon(10% 100%, 10% 150%, 20% 150%);
    transform-origin: 43% 143%;
    animation: fly43 5000ms 1680ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly43 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(238deg) rotateY(-360deg) rotateZ(16deg) translateZ(-1330px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(238deg) rotateY(-360deg) rotateZ(16deg) translateZ(-1330px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(44) {
    color: rgba(167, 28, 132, 1);
    clip-path: polygon(10% 100%, 20% 100%, 20% 150%);
    transform-origin: -34% 88%;
    animation: fly44 5000ms 1720ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly44 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-280deg) rotateY(37deg) rotateZ(169deg) translateZ(284px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-280deg) rotateY(37deg) rotateZ(169deg) translateZ(284px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(45) {
    color: rgba(165, 28, 135, 1);
    clip-path: polygon(20% 100%, 20% 150%, 30% 150%);
    transform-origin: 40% 113%;
    animation: fly45 5000ms 1760ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly45 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(250deg) rotateY(-335deg) rotateZ(338deg) translateZ(347px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(250deg) rotateY(-335deg) rotateZ(338deg) translateZ(347px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(46) {
    color: rgba(163, 27, 138, 1);
    clip-path: polygon(20% 100%, 30% 100%, 30% 150%);
    transform-origin: 38% 106%;
    animation: fly46 5000ms 1800ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly46 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-229deg) rotateY(-435deg) rotateZ(-461deg) translateZ(-1000px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-229deg) rotateY(-435deg) rotateZ(-461deg) translateZ(-1000px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(47) {
    color: rgba(161, 27, 141, 1);
    clip-path: polygon(30% 100%, 30% 150%, 40% 150%);
    transform-origin: 73% 121%;
    animation: fly47 5000ms 1840ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly47 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(244deg) rotateY(-119deg) rotateZ(450deg) translateZ(448px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(244deg) rotateY(-119deg) rotateZ(450deg) translateZ(448px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(48) {
    color: rgba(159, 26, 144, 1);
    clip-path: polygon(30% 100%, 40% 100%, 40% 150%);
    transform-origin: 40% 59%;
    animation: fly48 5000ms 1880ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly48 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-61deg) rotateY(92deg) rotateZ(-468deg) translateZ(-1806px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-61deg) rotateY(92deg) rotateZ(-468deg) translateZ(-1806px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(49) {
    color: rgba(157, 26, 147, 1);
    clip-path: polygon(40% 100%, 40% 150%, 50% 150%);
    transform-origin: 59% 108%;
    animation: fly49 5000ms 1920ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly49 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(62deg) rotateY(-79deg) rotateZ(31deg) translateZ(-393px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(62deg) rotateY(-79deg) rotateZ(31deg) translateZ(-393px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(50) {
    color: rgba(155, 25, 150, 1);
    clip-path: polygon(40% 100%, 50% 100%, 50% 150%);
    transform-origin: 86% 110%;
    animation: fly50 5000ms 1960ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly50 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-454deg) rotateY(395deg) rotateZ(75deg) translateZ(-1797px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-454deg) rotateY(395deg) rotateZ(75deg) translateZ(-1797px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(51) {
    color: rgba(153, 25, 153, 1);
    clip-path: polygon(50% 100%, 50% 150%, 60% 150%);
    transform-origin: 68% 129%;
    animation: fly51 5000ms 2000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly51 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(93deg) rotateY(220deg) rotateZ(141deg) translateZ(-123px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(93deg) rotateY(220deg) rotateZ(141deg) translateZ(-123px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(52) {
    color: rgba(151, 24, 156, 1);
    clip-path: polygon(50% 100%, 60% 100%, 60% 150%);
    transform-origin: 30% 145%;
    animation: fly52 5000ms 2040ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly52 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(237deg) rotateY(325deg) rotateZ(236deg) translateZ(-2218px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(237deg) rotateY(325deg) rotateZ(236deg) translateZ(-2218px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(53) {
    color: rgba(149, 24, 159, 1);
    clip-path: polygon(60% 100%, 60% 150%, 70% 150%);
    transform-origin: 16% 105%;
    animation: fly53 5000ms 2080ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly53 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-408deg) rotateY(391deg) rotateZ(456deg) translateZ(-32px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-408deg) rotateY(391deg) rotateZ(456deg) translateZ(-32px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(54) {
    color: rgba(147, 23, 162, 1);
    clip-path: polygon(60% 100%, 70% 100%, 70% 150%);
    transform-origin: 95% 123%;
    animation: fly54 5000ms 2120ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly54 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(447deg) rotateY(433deg) rotateZ(173deg) translateZ(-1230px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(447deg) rotateY(433deg) rotateZ(173deg) translateZ(-1230px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(55) {
    color: rgba(145, 23, 165, 1);
    clip-path: polygon(70% 100%, 70% 150%, 80% 150%);
    transform-origin: 25% 54%;
    animation: fly55 5000ms 2160ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly55 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(38deg) rotateY(494deg) rotateZ(140deg) translateZ(-2316px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(38deg) rotateY(494deg) rotateZ(140deg) translateZ(-2316px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(56) {
    color: rgba(143, 22, 168, 1);
    clip-path: polygon(70% 100%, 80% 100%, 80% 150%);
    transform-origin: 83% 135%;
    animation: fly56 5000ms 2200ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly56 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-66deg) rotateY(-69deg) rotateZ(346deg) translateZ(102px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-66deg) rotateY(-69deg) rotateZ(346deg) translateZ(102px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(57) {
    color: rgba(141, 22, 171, 1);
    clip-path: polygon(80% 100%, 80% 150%, 90% 150%);
    transform-origin: 79% 78%;
    animation: fly57 5000ms 2240ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly57 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(312deg) rotateY(-432deg) rotateZ(-322deg) translateZ(-2469px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(312deg) rotateY(-432deg) rotateZ(-322deg) translateZ(-2469px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(58) {
    color: rgba(139, 21, 174, 1);
    clip-path: polygon(80% 100%, 90% 100%, 90% 150%);
    transform-origin: 112% 148%;
    animation: fly58 5000ms 2280ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly58 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-239deg) rotateY(-379deg) rotateZ(-393deg) translateZ(-462px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-239deg) rotateY(-379deg) rotateZ(-393deg) translateZ(-462px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(59) {
    color: rgba(137, 21, 177, 1);
    clip-path: polygon(90% 100%, 90% 150%, 100% 150%);
    transform-origin: 111% 51%;
    animation: fly59 5000ms 2320ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly59 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-140deg) rotateY(443deg) rotateZ(437deg) translateZ(391px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-140deg) rotateY(443deg) rotateZ(437deg) translateZ(391px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(60) {
    color: rgba(135, 20, 180, 1);
    clip-path: polygon(90% 100%, 100% 100%, 100% 150%);
    transform-origin: 109% 137%;
    animation: fly60 5000ms 2360ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly60 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-119deg) rotateY(372deg) rotateZ(438deg) translateZ(-1499px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-119deg) rotateY(372deg) rotateZ(438deg) translateZ(-1499px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(61) {
    color: rgba(133, 20, 183, 1);
    clip-path: polygon(0% 150%, 0% 200%, 10% 200%);
    transform-origin: -32% 127%;
    animation: fly61 5000ms 2400ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly61 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-418deg) rotateY(415deg) rotateZ(-195deg) translateZ(-317px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-418deg) rotateY(415deg) rotateZ(-195deg) translateZ(-317px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(62) {
    color: rgba(131, 19, 186, 1);
    clip-path: polygon(0% 150%, 10% 150%, 10% 200%);
    transform-origin: -8% 156%;
    animation: fly62 5000ms 2440ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly62 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-322deg) rotateY(133deg) rotateZ(-451deg) translateZ(-1271px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-322deg) rotateY(133deg) rotateZ(-451deg) translateZ(-1271px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(63) {
    color: rgba(129, 19, 189, 1);
    clip-path: polygon(10% 150%, 10% 200%, 20% 200%);
    transform-origin: 40% 193%;
    animation: fly63 5000ms 2480ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly63 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(340deg) rotateY(-370deg) rotateZ(-485deg) translateZ(-1922px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(340deg) rotateY(-370deg) rotateZ(-485deg) translateZ(-1922px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(64) {
    color: rgba(127, 18, 192, 1);
    clip-path: polygon(10% 150%, 20% 150%, 20% 200%);
    transform-origin: 31% 131%;
    animation: fly64 5000ms 2520ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly64 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-302deg) rotateY(-428deg) rotateZ(-337deg) translateZ(414px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-302deg) rotateY(-428deg) rotateZ(-337deg) translateZ(414px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(65) {
    color: rgba(125, 18, 195, 1);
    clip-path: polygon(20% 150%, 20% 200%, 30% 200%);
    transform-origin: -23% 110%;
    animation: fly65 5000ms 2560ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly65 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-195deg) rotateY(-189deg) rotateZ(457deg) translateZ(-2323px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-195deg) rotateY(-189deg) rotateZ(457deg) translateZ(-2323px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(66) {
    color: rgba(123, 17, 198, 1);
    clip-path: polygon(20% 150%, 30% 150%, 30% 200%);
    transform-origin: 2% 167%;
    animation: fly66 5000ms 2600ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly66 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(221deg) rotateY(116deg) rotateZ(338deg) translateZ(-1992px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(221deg) rotateY(116deg) rotateZ(338deg) translateZ(-1992px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(67) {
    color: rgba(121, 17, 201, 1);
    clip-path: polygon(30% 150%, 30% 200%, 40% 200%);
    transform-origin: 29% 192%;
    animation: fly67 5000ms 2640ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly67 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-186deg) rotateY(-121deg) rotateZ(344deg) translateZ(-495px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-186deg) rotateY(-121deg) rotateZ(344deg) translateZ(-495px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(68) {
    color: rgba(119, 16, 204, 1);
    clip-path: polygon(30% 150%, 40% 150%, 40% 200%);
    transform-origin: -9% 199%;
    animation: fly68 5000ms 2680ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly68 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(385deg) rotateY(462deg) rotateZ(-459deg) translateZ(-2399px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(385deg) rotateY(462deg) rotateZ(-459deg) translateZ(-2399px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(69) {
    color: rgba(117, 16, 207, 1);
    clip-path: polygon(40% 150%, 40% 200%, 50% 200%);
    transform-origin: 73% 196%;
    animation: fly69 5000ms 2720ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly69 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(26deg) rotateY(128deg) rotateZ(-188deg) translateZ(-968px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(26deg) rotateY(128deg) rotateZ(-188deg) translateZ(-968px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(70) {
    color: rgba(115, 15, 210, 1);
    clip-path: polygon(40% 150%, 50% 150%, 50% 200%);
    transform-origin: 42% 187%;
    animation: fly70 5000ms 2760ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly70 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(236deg) rotateY(41deg) rotateZ(275deg) translateZ(-2150px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(236deg) rotateY(41deg) rotateZ(275deg) translateZ(-2150px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(71) {
    color: rgba(113, 15, 213, 1);
    clip-path: polygon(50% 150%, 50% 200%, 60% 200%);
    transform-origin: 65% 119%;
    animation: fly71 5000ms 2800ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly71 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(263deg) rotateY(-210deg) rotateZ(492deg) translateZ(-655px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(263deg) rotateY(-210deg) rotateZ(492deg) translateZ(-655px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(72) {
    color: rgba(111, 14, 216, 1);
    clip-path: polygon(50% 150%, 60% 150%, 60% 200%);
    transform-origin: 87% 174%;
    animation: fly72 5000ms 2840ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly72 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-419deg) rotateY(-348deg) rotateZ(219deg) translateZ(109px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-419deg) rotateY(-348deg) rotateZ(219deg) translateZ(109px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(73) {
    color: rgba(109, 14, 219, 1);
    clip-path: polygon(60% 150%, 60% 200%, 70% 200%);
    transform-origin: 12% 123%;
    animation: fly73 5000ms 2880ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly73 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(300deg) rotateY(-59deg) rotateZ(-28deg) translateZ(-1471px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(300deg) rotateY(-59deg) rotateZ(-28deg) translateZ(-1471px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(74) {
    color: rgba(107, 13, 222, 1);
    clip-path: polygon(60% 150%, 70% 150%, 70% 200%);
    transform-origin: 86% 162%;
    animation: fly74 5000ms 2920ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly74 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(282deg) rotateY(-106deg) rotateZ(-149deg) translateZ(409px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(282deg) rotateY(-106deg) rotateZ(-149deg) translateZ(409px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(75) {
    color: rgba(105, 13, 225, 1);
    clip-path: polygon(70% 150%, 70% 200%, 80% 200%);
    transform-origin: 53% 181%;
    animation: fly75 5000ms 2960ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly75 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-347deg) rotateY(-295deg) rotateZ(97deg) translateZ(-1883px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-347deg) rotateY(-295deg) rotateZ(97deg) translateZ(-1883px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(76) {
    color: rgba(103, 12, 228, 1);
    clip-path: polygon(70% 150%, 80% 150%, 80% 200%);
    transform-origin: 72% 160%;
    animation: fly76 5000ms 3000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly76 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-53deg) rotateY(37deg) rotateZ(309deg) translateZ(-722px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-53deg) rotateY(37deg) rotateZ(309deg) translateZ(-722px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(77) {
    color: rgba(101, 12, 231, 1);
    clip-path: polygon(80% 150%, 80% 200%, 90% 200%);
    transform-origin: 32% 108%;
    animation: fly77 5000ms 3040ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly77 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-254deg) rotateY(38deg) rotateZ(205deg) translateZ(-989px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-254deg) rotateY(38deg) rotateZ(205deg) translateZ(-989px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(78) {
    color: rgba(99, 11, 234, 1);
    clip-path: polygon(80% 150%, 90% 150%, 90% 200%);
    transform-origin: 117% 176%;
    animation: fly78 5000ms 3080ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly78 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-370deg) rotateY(482deg) rotateZ(25deg) translateZ(142px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-370deg) rotateY(482deg) rotateZ(25deg) translateZ(142px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(79) {
    color: rgba(97, 11, 237, 1);
    clip-path: polygon(90% 150%, 90% 200%, 100% 200%);
    transform-origin: 78% 152%;
    animation: fly79 5000ms 3120ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly79 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(446deg) rotateY(187deg) rotateZ(39deg) translateZ(-908px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(446deg) rotateY(187deg) rotateZ(39deg) translateZ(-908px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(80) {
    color: rgba(95, 10, 240, 1);
    clip-path: polygon(90% 150%, 100% 150%, 100% 200%);
    transform-origin: 109% 127%;
    animation: fly80 5000ms 3160ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly80 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-223deg) rotateY(373deg) rotateZ(493deg) translateZ(-1753px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-223deg) rotateY(373deg) rotateZ(493deg) translateZ(-1753px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(81) {
    color: rgba(93, 10, 243, 1);
    clip-path: polygon(0% 200%, 0% 250%, 10% 250%);
    transform-origin: 10% 221%;
    animation: fly81 5000ms 3200ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly81 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-63deg) rotateY(280deg) rotateZ(-385deg) translateZ(-1112px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-63deg) rotateY(280deg) rotateZ(-385deg) translateZ(-1112px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(82) {
    color: rgba(91, 9, 246, 1);
    clip-path: polygon(0% 200%, 10% 200%, 10% 250%);
    transform-origin: -47% 152%;
    animation: fly82 5000ms 3240ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly82 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(452deg) rotateY(-200deg) rotateZ(469deg) translateZ(-2148px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(452deg) rotateY(-200deg) rotateZ(469deg) translateZ(-2148px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(83) {
    color: rgba(89, 9, 249, 1);
    clip-path: polygon(10% 200%, 10% 250%, 20% 250%);
    transform-origin: 53% 238%;
    animation: fly83 5000ms 3280ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly83 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(422deg) rotateY(212deg) rotateZ(-434deg) translateZ(-1408px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(422deg) rotateY(212deg) rotateZ(-434deg) translateZ(-1408px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(84) {
    color: rgba(87, 8, 252, 1);
    clip-path: polygon(10% 200%, 20% 200%, 20% 250%);
    transform-origin: 6% 182%;
    animation: fly84 5000ms 3320ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly84 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(291deg) rotateY(474deg) rotateZ(-418deg) translateZ(-212px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(291deg) rotateY(474deg) rotateZ(-418deg) translateZ(-212px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(85) {
    color: rgba(85, 8, 255, 1);
    clip-path: polygon(20% 200%, 20% 250%, 30% 250%);
    transform-origin: -21% 241%;
    animation: fly85 5000ms 3360ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly85 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(267deg) rotateY(181deg) rotateZ(-305deg) translateZ(-2371px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(267deg) rotateY(181deg) rotateZ(-305deg) translateZ(-2371px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(86) {
    color: rgba(83, 7, 258, 1);
    clip-path: polygon(20% 200%, 30% 200%, 30% 250%);
    transform-origin: -12% 240%;
    animation: fly86 5000ms 3400ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly86 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(142deg) rotateY(76deg) rotateZ(-156deg) translateZ(-1374px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(142deg) rotateY(76deg) rotateZ(-156deg) translateZ(-1374px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(87) {
    color: rgba(81, 7, 261, 1);
    clip-path: polygon(30% 200%, 30% 250%, 40% 250%);
    transform-origin: 67% 233%;
    animation: fly87 5000ms 3440ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly87 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(124deg) rotateY(264deg) rotateZ(34deg) translateZ(233px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(124deg) rotateY(264deg) rotateZ(34deg) translateZ(233px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(88) {
    color: rgba(79, 6, 264, 1);
    clip-path: polygon(30% 200%, 40% 200%, 40% 250%);
    transform-origin: 41% 160%;
    animation: fly88 5000ms 3480ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly88 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-161deg) rotateY(-327deg) rotateZ(-98deg) translateZ(186px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-161deg) rotateY(-327deg) rotateZ(-98deg) translateZ(186px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(89) {
    color: rgba(77, 6, 267, 1);
    clip-path: polygon(40% 200%, 40% 250%, 50% 250%);
    transform-origin: 81% 196%;
    animation: fly89 5000ms 3520ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly89 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(191deg) rotateY(363deg) rotateZ(162deg) translateZ(-2214px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(191deg) rotateY(363deg) rotateZ(162deg) translateZ(-2214px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(90) {
    color: rgba(75, 5, 270, 1);
    clip-path: polygon(40% 200%, 50% 200%, 50% 250%);
    transform-origin: -5% 171%;
    animation: fly90 5000ms 3560ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly90 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(315deg) rotateY(77deg) rotateZ(493deg) translateZ(29px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(315deg) rotateY(77deg) rotateZ(493deg) translateZ(29px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(91) {
    color: rgba(73, 5, 273, 1);
    clip-path: polygon(50% 200%, 50% 250%, 60% 250%);
    transform-origin: 19% 241%;
    animation: fly91 5000ms 3600ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly91 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(350deg) rotateY(440deg) rotateZ(-357deg) translateZ(-1925px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(350deg) rotateY(440deg) rotateZ(-357deg) translateZ(-1925px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(92) {
    color: rgba(71, 4, 276, 1);
    clip-path: polygon(50% 200%, 60% 200%, 60% 250%);
    transform-origin: 46% 155%;
    animation: fly92 5000ms 3640ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly92 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(157deg) rotateY(-402deg) rotateZ(-362deg) translateZ(-1424px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(157deg) rotateY(-402deg) rotateZ(-362deg) translateZ(-1424px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(93) {
    color: rgba(69, 4, 279, 1);
    clip-path: polygon(60% 200%, 60% 250%, 70% 250%);
    transform-origin: 15% 213%;
    animation: fly93 5000ms 3680ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly93 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-5deg) rotateY(-96deg) rotateZ(-474deg) translateZ(-938px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-5deg) rotateY(-96deg) rotateZ(-474deg) translateZ(-938px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(94) {
    color: rgba(67, 3, 282, 1);
    clip-path: polygon(60% 200%, 70% 200%, 70% 250%);
    transform-origin: 87% 196%;
    animation: fly94 5000ms 3720ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly94 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-277deg) rotateY(274deg) rotateZ(-171deg) translateZ(-1816px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-277deg) rotateY(274deg) rotateZ(-171deg) translateZ(-1816px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(95) {
    color: rgba(65, 3, 285, 1);
    clip-path: polygon(70% 200%, 70% 250%, 80% 250%);
    transform-origin: 58% 165%;
    animation: fly95 5000ms 3760ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly95 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(113deg) rotateY(-379deg) rotateZ(87deg) translateZ(-1335px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(113deg) rotateY(-379deg) rotateZ(87deg) translateZ(-1335px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(96) {
    color: rgba(63, 2, 288, 1);
    clip-path: polygon(70% 200%, 80% 200%, 80% 250%);
    transform-origin: 63% 187%;
    animation: fly96 5000ms 3800ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly96 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(304deg) rotateY(-152deg) rotateZ(367deg) translateZ(-2090px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(304deg) rotateY(-152deg) rotateZ(367deg) translateZ(-2090px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(97) {
    color: rgba(61, 2, 291, 1);
    clip-path: polygon(80% 200%, 80% 250%, 90% 250%);
    transform-origin: 125% 229%;
    animation: fly97 5000ms 3840ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly97 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(228deg) rotateY(323deg) rotateZ(47deg) translateZ(-2331px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(228deg) rotateY(323deg) rotateZ(47deg) translateZ(-2331px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(98) {
    color: rgba(59, 1, 294, 1);
    clip-path: polygon(80% 200%, 90% 200%, 90% 250%);
    transform-origin: 39% 216%;
    animation: fly98 5000ms 3880ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly98 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(296deg) rotateY(-231deg) rotateZ(236deg) translateZ(-2476px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(296deg) rotateY(-231deg) rotateZ(236deg) translateZ(-2476px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(99) {
    color: rgba(57, 1, 297, 1);
    clip-path: polygon(90% 200%, 90% 250%, 100% 250%);
    transform-origin: 80% 216%;
    animation: fly99 5000ms 3920ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly99 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-212deg) rotateY(491deg) rotateZ(305deg) translateZ(-22px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-212deg) rotateY(491deg) rotateZ(305deg) translateZ(-22px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(100) {
    color: rgba(55, 0, 300, 1);
    clip-path: polygon(90% 200%, 100% 200%, 100% 250%);
    transform-origin: 117% 193%;
    animation: fly100 5000ms 3960ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly100 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(448deg) rotateY(-444deg) rotateZ(368deg) translateZ(-961px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(448deg) rotateY(-444deg) rotateZ(368deg) translateZ(-961px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
#ui .text:nth-child(101) {
    color: rgba(53, -1, 303, 1);
    clip-path: polygon(0% 250%, 0% 300%, 10% 300%);
    transform-origin: 21% 249%;
    animation: fly101 5000ms 4000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
@keyframes fly101 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-338deg) rotateY(-162deg) rotateZ(70deg) translateZ(415px);
    }
    10% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-338deg) rotateY(-162deg) rotateZ(70deg) translateZ(415px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);
    }
}
 